# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.orig
.ipynb_checkpoints
logs/

# Bundler/local gems
vendor/
.bundle/

# Virtual environment
.venv

# data folders
morning-session-2/data
